/*BODY*/
	body{
		font-size: 20px;
		font-family: Arial, Helvetica, sans-serif;
		background-color: #00002E;
		color: #FFFFFF;
		text-align: center;

	}

/*TOPO*/

/*RODAPÉ*/
	

/*PÁGINA INICIAL*/
	#div.pg-home{
	}

	#top_name{
		margin-top: 2rem;
	}

	header h2{
		font-size: 30px;
		margin-top: 3rem;
		margin-bottom: 2rem;
	}

	#bloco{
		box-sizing: border-box;
		width: 350px;
		margin-left: auto;
		margin-right: auto;

	}
	#bloco ul{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	li{
		width: 170px;
	}

	img{
		width: 150px;
	}

	#bloco img:hover{
		border: solid 2.5px #FFFFFF;
	}



	ul h3{
		margin-top: 1rem;
		margin-bottom: 2rem;

	}

	#button{
		font-size: 18px;
		color: #FFFFFF;;
		background-color: #00002E;
		border: solid 2px #FFFFFF;
		padding: 1em;
	}

	#button:hover{
		color:#00002E;
		background-color: #FFFFFF;
	}



	@media (min-width: 890px) {
		body{
			background-color: #00002E;
		}

		#top_name{
			margin-top: 0.5rem;
		}

		#bloco{
			width: 858px;	
		
		}

		#bloco ul{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}

		img{
			width: 150px;
		}
		
		header h2{
			font-size: 60px;
			margin-bottom: 5rem;
		}

		
	#button{
		font-size: 25px;
		color: #FFFFFF;;
		background-color: #00002E;
		border: solid 2px #FFFFFF;
		padding: 1rem;
	}

	.topo{
		text-align: left;
	}

	.topo img{
		width: 250px;
	}
	
	  }

	

	